spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/rolliki
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: 1
            client-secret: 2